.banner{
    background-image: url(../../../images/banner/banner.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgb(35 35 35);
    background-blend-mode: darken, luminosity;
    
    color: white;
    
    height: 90vh;
}
